<div class="test_card_wrapper">
  <div>
    <span class="title">Title:</span>
    <%= @question.title %>
  </div>

  <div class="edit_button">
    <%= link_to 'Edit', edit_question_path(@question.id), { class: "edit"} %>
  </div>
</div>

<%= link_to 'Back', tests_path, { class: "back"} %>
