<h1>Achievements list</h1>
<br/>

<div>
  <%= link_to 'Add badge', new_admin_badge_path %>
</div>

<table class="table">
  <th>
    Title
  </th>
  <th>Description</th>
  <th colspan="2">Actions</th>

  <%= render @badges %>

</table>