<header class='header'>
  <p class='logo'><%= link_to 'TestGuru', root_path %></p>
  <p class='menu'><%= header_menu(current_user) %>  </p>

  <% if logged_in? then %>
  <span class='logout'>
    <%= link_to 'Log out',
                session_path(session),
                method: :delete,
                data: { confirm: 'You want to exit?' } %>
  </span>
    <% end %>
</header>