.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.circle-row {
  position: absolute;
  width: 10px;
  height: 10px;
  top: 27px;
  left: -30px;
}

.correct {
  color: green;
}

.no-correct {
  color: red;
}

.field {
  position: relative;
}

.timer {
  display: flex;
  align-items: center;
  width: 96px;
  height: 24px;
  text-align: center;
  margin-top: 10px;
  color: green;
  font-size: 20px;
}