
<div class="header_wrapper">
  <h1>Tests page</h1>
  <div>
    <%= link_to 'Create test', new_admin_test_path, { class: "new_test" } %>
  </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        Title
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th>Level</th>
      <th>Category</th>
      <th>QuestionsCount</th>
      <th colspan="4">Actions</th>
    </tr>
  </thead>

  <%= render @tests %>
</table>
