

<table class="table">
  <thead>
    <tr>
      <th class="sort-by-title pointer">
        Title
        <%= octicon 'arrow-up', class: 'text-success hide' %>
        <%= octicon 'arrow-down', class: 'text-success hide' %>
      </th>
      <th>Level</th>
      <th>Category</th>
      <th>QuestionsCount</th>
      <th>Actions</th>
    </tr>
  </thead>

  <%= render @tests %>
</table>
